
* {
    margin: 0;
    padding: 0;
  }

html,body{
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);

}
.header-container {
    display: flex;
    align-content:flex-end;
    align-items: flex-end;
    justify-content: end;
    justify-items: center;
    padding: 30px;
  }
  
  header {
    display: flex;
      padding-right: 30px;
      gap: 30px;
  
  
  }

  header a {
    font-family: "BIZ UDGothic", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color:  #db2136;
    text-decoration: none;
  }
  
  #hover:hover {
    transition: 0.2s ease-in-out;
    font-size: 19px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    font-weight: 600;
    color: #f54257;
  }

  
/* ----------------- FOOTER ------------------ */ 

footer{
  width: 100vw;
  background-color: black;
  position: fixed;
  bottom: 0;
  display: flex;
  font-family: "BIZ UDGothic", sans-serif;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  padding: 5px;
  color:  #db2136;
}
